bin/**
out/**
data/logs/**
.idea/**
/bin
.DS_Store**
.project**
.classpath**
.class**
/bin/
/out/
/file_server/file_server.iml
data/cache/
*.iml
*.eml
*.userlibraries
*.class
map_editor/**
data/players/**
