bin/**
out/**
build/**
data/logs/**
.idea/**
/bin
.DS_Store**
.project**
.classpath**
.class**
/bin/
/out/
/file_server/file_server.iml
data/cache/
data/*.log
*.iml
*.eml
*.userlibraries
*.class
map_editor/**
data/players/**
hs_err_pid12147.log
/.gradle/**